{% block title %}Thank you!{% endblock %}
{% extends 'base.html.twig' %}

{% block body %}


    <div class="jumbotron">
        <h1 class="display-4">Thank you for your input!</h1>
{#        <p class="lead">Your opinion matters.</p>#}
        <hr class="my-4">
        <p>Your opinion matters.</p>
    </div>

{% endblock %}
